body {
    font-family: 'Arial', sans-serif;
    background-color: #e7f0f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    width: 320px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.fish-icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 50px;
}

h1 {
    margin: 20px 0;
    font-size: 24px;
}

.github-section {
    margin: 10px 0;
}

.fork-btn {
    background-color: #24292e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fork-btn .fork-count {
    margin-left: 8px;
    font-weight: bold;
}

.links {
    margin: 15px 0;
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.repo-link-input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.deploy-btn {
    background-color: #ff5e57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.deploy-btn:hover {
    background-color: #ff2a22;
  }
  
