body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  position: relative;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.fork-counter {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.links a {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #007bff; /* Make the links blue */
  text-decoration: none;
  cursor: pointer;
}

.links a:hover {
  text-decoration: underline;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ff7043;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5722;
}

/* Disable text selection for non-copyable elements */
.non-copyable {
  user-select: none;
}

.blue-bold {
  font-weight: bold;
  color: #007bff; /* Blue color */
}

/* Warning message styles */
.warning {
  color: red;
  margin-top: 15px;
  font-weight: bold;
}

.hidden {
  display: none;
}
